header {
  background-color: black;
  max-width: 100%;
}

body {
  background-image: url(../img/background.jpg);
  background-size: 100%;
  background-attachment: fixed;
}

@media (max-width: 1200px) {
  body {
    background-image: url(../img/background.jpg);
    background-size: auto 100vh;
    background-position: 35% 100vh;
  }
}

.display {
  padding-top: 50%;
}
@media (min-width: 1200px) {
  .display {
    padding: 10%;
  }
}

.font {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13vh;
}

.font2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 4vh;
}

@media (max-width: 1200px) {
  .font {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 6vh;
  }

  .font2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2.5vh;
  }
}

.form-register {
  width: 80%;
  border-radius: 4px;
  margin: 2% auto 0 auto;
  font-family: "calibri";
  color: white;
}

.controls {
  width: 100%;
  background: rgba(255, 251, 195, 0.767);
  padding: 2%;
  border-radius: 5px;
  margin-bottom: 2%;
  border: 1px solid #ffffff;
  font-family: "calibri";
  font-size: 18px;
  color: rgb(3, 3, 3);
}

.botons {
  width: 100%;
  background: #3b3b3b;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  cursor: pointer;
}

footer {
  background-color: black;
  max-width: 100%;
}

.derechos_reservados {
  opacity: 25%;
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding: 0%;
  border-top: white 5%;
}
