.font {
  @include font($font, 13vh);
}

.font2 {
  @include font($font, 4vh);
}

.font-prod {
  @include font($font, 4vh);
}

.display {
  margin-top: 10%;
}

@media (max-width: 1200px) {
  .font {
    @include font($font, 4.5vh);
  }

  .font2 {
    @include font($font, 2vh);
  }

  .font-prod {
    @include font($font, 3vh);
  }

  .display {
    margin-top: 40%;
  }
}
