.font {
  @include font($font, 13vh);
}

.font2 {
  @include font($font, 4vh);
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .font {
    @include font($font, 6vh);
  }

  .font2 {
    @include font($font, 2.5vh);
    text-transform: uppercase;
  }

  .display {
    padding-top: 25%;
  }
}

.display {
  margin-top: 4%;
  padding: 6%;
}
