footer {
  background-color: black;
  max-width: 100%;

  .derechos_reservados {
    opacity: 25%;
    color: white;
    text-align: center;
    font-family: $font;
    padding: 0%;
    border-top: white 5%;
  }
}
