.form-register {
  width: 80%;
  border-radius: 4px;
  margin: 2% auto 0 auto;
  font-family: "calibri";
  color: white;
}

.controls {
  width: 100%;
  background: rgba(255, 251, 195, 0.767);
  padding: 1%;
  border-radius: 5px;
  margin-bottom: 2%;
  border: 1px solid #ffffff;
  font-family: "calibri";
  font-size: 18px;
  color: rgb(3, 3, 3);
}

.botons {
  width: 100%;
  background: #3b3b3b;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  cursor: pointer;
}

.botons:hover {
  color: yellow;
}
